#main {
    background-image: url('/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movie {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: rgba(39, 39, 39, 0.753);
    color: white;
    margin-top: 3%;
    padding: 1%;
}

.img {
    width: 23vw;
    margin-left: 10%;
    border-radius: 6px;
}

.movieInfos {
    margin-top: 2%;
    margin-left: 4%;
}

.movieInfos h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 3%;
}

.movieInfos p {
    border-bottom: 1px solid white;
    padding: 1%;
}

.page {
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(0, 0, 0, 0.658);
    border: 1px solid rgba(255, 255, 255, 0.411);
}

.video {
    border: 1px solid white;
    border-radius: 6px;
    width: 100%;
    margin: 0.2%;
    margin-top: 1%;
    margin-bottom: 10%;
}

.formRating {
    border: 1px solid rgba(255, 255, 255, 0.384);
    border-radius: 6px;
    margin-bottom: 10%;
    padding: 1%;   
}

.value {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 6px;
    height: 6%;
    color: white;
    padding-left: 1%;
    overflow: hidden;
}

.comment {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 6px;
    height: 10%;
    color: white;
    padding: 1%;
    resize: none;
    margin-top: 1%;
}

.formRating h2 {
    color: white;
    padding: 1%;
}

.btnSubmit {
    background-color: white;
    width: 100%;
    height: 5%;
    cursor: grab;
}

.comments {
    margin-bottom: 10%;
    margin-left: 0.2%;
    margin-right: 0.2%;
    border: 1px solid rgba(255, 255, 255, 0.418);
    border-radius: 6px;
    padding: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

.commentCard {
    border: 2px solid rgba(71, 68, 240, 0.904);
    border-radius: 6px;
    padding: 1%;
    margin-bottom: 2%;
}

.commentBox {
    border-top: 1px solid rgba(255, 255, 255, 0.425);
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
}

.commentInfos {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-right: 10%;
    font-size: 18px;
}

.valueR {
    text-align: right;
}