body {
    margin: 0%;
    overflow: hidden;
    background-image: url('../images/wallpaper.jpg');
    background-size: cover;
}

.heartIcon {
    width: 35%;
}

.tries {
    height: 5%;
    width: 5%;
}

.container {
    background-color: rgb(255, 247, 240);
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid rgba(128, 128, 128, 0.445);
    padding: 2%;
}

.menu {
    border: 1px solid rgba(128, 128, 128, 0.829);
    border-radius: 8px;
    margin-top: 15%;
    padding: 2%;
}